<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://uilogos.co/img/logomark/u-mark.png" alt="" width="auto" height="100">
    <h1 class="display-5 fw-bold" data-testid="page-title">Account</h1>
    <div class="col-lg-6 mx-auto" style="width: 300px; text-align: left;">
        <div class="mb-2 text-left">
            <label for="first_name" class="form-label">First name</label>
            <input name="first_name" type="text" class="form-control rounded" value="<%= first_name || '' %>" readonly>
        </div>

        <div class="mb-2 text-left">
            <label for="role" class="form-label">Last name</label>
            <input name="role" type="text" class="form-control rounded" value="<%= role || '' %>" readonly>
        </div>

        <div class="mb-2 text-left">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="text" class="form-control rounded" value="<%= email || '' %>" readonly>
        </div>

        <div class="mb-4 text-left">
            <label for="role" class="form-label">User role</label>
            <input name="role" type="text" class="form-control rounded" value="<%= role || '' %>" readonly>
        </div>
    </div>



    <a href="/" type="button" class="btn btn-danger btn-lg px-4 gap-3" data-testid="home-button">Go back home</a>
</div>
</div>